.footer {
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.divFooterIcons {
  display: flex;
  justify-content: center;
  gap: 55px;
  margin-bottom: 10px;
}
footer-link {
  color: #fff;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ff4081; /* Cambia de color cuando pasas el cursor */
}

.footer-text {
  margin-top: 10px;
  font-size: 14px;
  color: #bbb;
}

.css-i4bv87-MuiSvgIcon-root {
  color: black;
  font-size: 1.8rem;
}
